$searchbar-background-color: #f1f1f1;
$searchbar-input-color: #ec5a62;
$searchbar-input-placeholder-color: #c2c2c2;
$searchbar-content-color: #333;
$searchbar-category-background-color: rgba(118,117,128,0.05);
$searchbar-category-hover-background-color: rgba(118,117,128,0.1);
$searchbar-category-title-color: rgba(145,145,145,0.7);
$searchbar-category-hover-title-color: rgba(236,90,98,1);
$searchbar-content-title-color: #c2c2c2;
$searchbar-category-selected-background-color: rgba(236,90,98,0.7);
$searchbar-category-selected-title-color: rgba(0,0,0,0.3);

#searchbar {
  box-shadow: 2px 2px 2px #a1a1a1;
  width: 400px;
  min-height: 40px;
  background: $searchbar-background-color;
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 1001;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition-property: min-height, width, top, left;
  transition-property: min-height, width, top, left;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  &.opened {
    width: 100%;
    min-height: 75%;
    top: 0;
    left: 0;

    .searchbar-form {
      width: 80%;
      height: 160px;
      -webkit-transform: translate3d(0,3em,0);
      transform: translate3d(0,3em,0);

      input {
        font-size: 5em;
      }

      button {
        pointer-events: auto;
        opacity: 1;
        -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
        transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
      }
    }

    .searchbar-close {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }

    .searchbar-content {
      opacity: 1;
      height: auto;
      overflow: visible;
      /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
      pointer-events: auto;
      -webkit-transition: opacity 0.3s 0.5s;
      transition: opacity 0.3s 0.5s;

      .searchbar-categories {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        &:nth-child(2) {
          -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
        }

        &:nth-child(3) {
          -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
        }

        &:nth-child(4) {
          -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
        }
      }
    }
  }

  .searchbar-form {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    input {
      width: 100%;
      height: 100%;
      padding: 0 10% 0 10px;
      font-weight: 700;
      border: none;
      background: transparent;
      font-size: 0.8em;
      color: $searchbar-input-color;
      -webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
      transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);

      &:-moz-placeholder,
      &:-ms-input-placeholder,
      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        color: $searchbar-input-placeholder-color;
      }
    }

    button:focus,
    input:focus {
      outline: none;
    }

    button {
      position: absolute;
      width: 80px;
      height: 80px;
      text-indent: 100px;
      overflow: hidden;
      right: 0;
      top: 50%;
      background: transparent url("./magnifier.svg") no-repeat center center;
      background-size: 100%;
      border: none;
      pointer-events: none;
      transform-origin: 50% 50%;
      opacity: 0;
      -webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
      transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
    }
  }

  .searchbar-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      border-radius: 3px;
      opacity: 0.2;
      background: #000;
    }

    &:hover {
      &::after,
      &::before {
        opacity: 1;
      }
    }

    &::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .searchbar-content {
    color: $searchbar-content-color;
    margin-top: 4.5em;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 10.5%;
    background: $searchbar-background-color;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    h2 {
      font-size: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 800;
      color: $searchbar-content-title-color;
      padding: 0.5em 0;
    }

    div.searchbar-categories {
      width: 30%;
      padding: 0 0 6em;
      float: left;
      opacity: 0;
      -webkit-transform: translate3d(0,100px,0);
      transform: translateY(100px);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;

      &:nth-child(3) {
        margin: 0 0.5rem;
      }

      .searchbar-category {
        padding: 0.75em;
        display: block;
        margin: 0.3em 0;
        cursor: pointer;
        font-size: 1.1em;
        border-radius: 5px;
        background: $searchbar-category-background-color;

        &:focus,
        &:hover {
          background: $searchbar-category-hover-background-color;
        }

        &:hover h3 {
          color: $searchbar-category-hover-title-color;
        }

        > img {
          display: inline-block;
          width: 50px;
          margin: 0 10px 0 0;
          vertical-align: middle;
        }

        > h3 {
          vertical-align: middle;
          font-size: 0.85em;
          display: inline-block;
          font-weight: 700;
          margin: 0;
          width: calc(100% - 70px);
          color: $searchbar-category-title-color;
        }

        &.selected {
          background: $searchbar-category-selected-background-color;

          > h3 {
            color: $searchbar-category-selected-title-color;
          }
        }
      }
    }
  }
}

.round {
  border-radius: 50%;
}
/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* responsive bounds */
@media screen and (max-width: 53.125em) {
  .searchbar-form input {
    padding: 0 25% 0 10px;
  }

  .searchbar-form.opened .searchbar-form input {
    font-size: 2em;
  }

  .searchbar-categories {
    width: 100%;
    float: none;
    width: auto;
    padding: 0;
  }

  .searchbar-categories:nth-child(3) {
    margin: 0;
  }

  .searchbar-form.opened .searchbar-form button {
    -webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
    transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
  }
}
@media screen and (max-width: 60.625em) {
  #searchbar {
    width: 80%;
    top: 10%;
    left: 10%;
  }
}
